# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Misc
*.log
*.tmp
.DS_Store